#### VIP_1 settings
VIP_1_ID=62
VIP_1_STATE=MASTER
VIP_1_PRIORITY=100
VIP_1_IP=172.16.12.41/24
#VIP_1_INTERFACE=eth0 # Optional: override global INTERFACE
VIP_1_PASS=VrtR0u01 # 8 character string
#### VIP_2 settings
VIP_2_ID=63
VIP_2_STATE=MASTER
VIP_2_PRIORITY=100
VIP_2_IP=192.168.0.12/24
VIP_2_INTERFACE=eth1 # Optional: override global INTERFACE
VIP_2_PASS=VrtR0u02 # 8 character string
